.carrinho {
  background: $cor2;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  margin: 40px auto 0;
  padding: 64px;
  width: 1000px;

  .topo {
    display: block;
    border-bottom: 1px solid $cor3;

    h2 {
      @include roboto-bold(17px, $cor4);
      display: inline-block;
      padding: 0 64px 15px;
      border-bottom: 2px solid $cor4;
    }
  }

  .produto {
    display: flex;
    justify-content: space-between;
    padding: 44px 0 48px;
    border-bottom: 1px solid $cor3;

    figure {
      margin-right: 16px;

      img {
        height: 48px;
        width: 48px;
      }
    }

    .info {
      display: flex;

      h3 {
        @include roboto-bold(20px, $cor4);
        margin-bottom: 8px;
      }

      h4 {
        @include roboto(14px, $cor5);
      }
    }

    .quantidade {
      .quantidade-organizacao {
        display: flex;
        align-items: center;
        border: 1px solid $cor3;
        border-radius: 4px;
        padding: 10px;

        input {
          @include roboto(14px, $cor7);
          border: none;
          background: transparent;
          cursor: pointer;
          outline: none;
          width: 20px;
        }

        .quantidade-valor {
          @include roboto(14px, $cor4);
          width: 20px;
          text-align: center;
        }
      }
    }
    
    .estoque {
      @include roboto(12px, $cor6);
      display: block;
      text-align: center;
      margin-top: 10px;
    }

    .valor {
      @include roboto(24px, $cor4);
    }
  }
}
